<!DOCTYPE html>
<html>
<head>
<style type="text/css">
#banner{
height: 300px;
background-color: #FA5858;
text-align: center;
}

#news_in_div{
height: 400px;
width: 316px;
float:left;
margin-left: 2px;
border: 1px solid black
}

#difLine{
height: 10px;
background-color:blue;
}
</style>
<meta charset="UTF-8">
<title>Use Angular In Grails</title>
</head>
<body>

<div id="banner">
<a href="#addNews" class="btn btn-primary" style="margin-top: 100px">Add News</a>
<a href="#NewsList" class="btn btn-primary" style="margin-top: 100px">News List</a>
</div>
<div id="difLine"></div>

   <div ng-repeat="n in news" id="news_in_div">
   
   <div style="height:100px;background-color:white;" >
   	<img style="width: 316px; height: 120PX; border: 1px solid #eee;" src='/UseAngularInGrails/home/renderImage/{{n.id}}' />
  </div>
   
   <div style="width: 316px;height: 100px;background-color: white">
   <h3 style="color:blue ">
   {{n.heading}}
   </h3>
   </div>
   
   <div style="width: 316px;height: 179px;background-color: black;color: white">
   {{n.descripton}}
   </div>
   
   </div>
</body>
</html>