<!-- Navigation -->
<!-- <div ng-include src="'view/theme-views/theme-header.html'"></div> -->

<div class="scanlines"></div>

<!-- Begin Wrapper -->
<div class="wrapper"><!-- Begin Intro -->
<div class="intro">Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus augue laoreet rutrum faucibus dolor auctor. Cras mattis consectetur purus sit amet fermentum, Vestibulum id ligula porta. </div>
<ul class="social">
<li><a class="rss" href="#"></a></li><li><a class="facebook" href="#"></a></li><li><a class="twitter" href="#"></a></li><li><a class="pinterest" href="#"></a></li><li><a class="dribbble" href="#"></a></li><li><a class="flickr" href="#"></a></li><li><a class="linkedin" href="#"></a></li></ul><!-- End Intro --> 

<!-- Begin Blog Grid -->
<div class="blog-wrap">
	<!-- Begin Blog -->
	<div class="blog-grid">
	
	
<!-- 	<div class="post format-image box">  -->
<!-- 			<div class="frame"> -->
<!-- 				<a href="post.html"> -->
<!-- 					<img src="assets/images-theme/art/post1.jpg" alt=""/> -->
<!-- 				</a> -->
<!-- 			</div> -->
<!-- 			<h2 class="title"><a href="post.html">Morning Glory</a></h2> -->
<!-- 			<p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of autumn which I enjoy with my whole heart.</p> -->
<!-- 			<div class="details"> -->
<!-- 				<span class="icon-image"><a href="#">September 26, 2012</a></span> -->
<!-- 				<span class="likes"><a href="#" class="likeThis">44</a></span> -->
<!-- 				<span class="comments"><a href="#">3</a></span> -->
<!-- 			</div> -->
<!-- 		</div> -->
		
		<!-- Begin Image Format -->
		<div class="post format-image box" ng-repeat="n in news">  
			<div class="frame">
				<a href="view/theme-views/post.html">
					<img data-ng-src="/UseAngularInGrails/home/renderImage/{{n.id}}" alt="" />
				</a>
			</div>
			<h2 class="title"><a href="#moreinfo/{{n.id}}">{{n.heading}}</a></h2>
			<p>{{n.descripton}}</p>
			<div class="details">
				<span class="icon-image"><a href="#">September 26, 2012</a></span>
				<span class="likes"><a href="#" class="likeThis">44</a></span>
				<span class="comments"><a href="#">3</a></span>
			</div>
		</div>
		<!-- End Image Format -->
		
 		<!-- Begin Standard Format -->
<!--  		<div class="post format-standard box">  -->

<!-- 			<h2 class="title"><a href="post.html">The Meridian Sun</a></h2> -->
<!-- 			<p>When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary, I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies.</p> -->
<!-- 	<p>Then I feel the presence of the Almighty, who formed us in his own image, and the breath of that universal love which bears and sustains us, as it floats around us in an eternity of bliss; and then, my friend, when darkness overspreads my eyes, and heaven and earth seem to dwell in my soul and absorb its power, like the form of a beloved mistress, then I often think with longing, Oh, would I could describe these conceptions, could impress upon paper all that is living so full and warm within me, that it might be the mirror of my soul, as my soul is the mirror of the infinite God!</p> -->
	
<!-- 			<div class="details"> -->
<!-- 				<span class="icon-standard"><a href="#">August 13, 2012</a></span> -->
<!-- 				<span class="likes"><a href="#" class="likeThis">11</a></span> -->
<!-- 				<span class="comments"><a href="#">0</a></span> -->
<!-- 			</div> -->
	
<!-- 		</div> -->
		<!-- End Standard Format --> 					
 	</div>
	<!-- End Blog -->
</div>
<!-- End Blog Grid -->

<!-- Begin Page-navi -->
    <div id="navigation">
      <div class="nav-previous"><a href="#" ><span class="meta-nav-prev">&larr; Older posts</span></a></div>
      <!-- 
			<div class="nav-next"><a href="#" ><span class="meta-nav-next">Newer posts &rarr;</span></a></div>
			 --> 
    </div>
    <!-- End Page-navi --> 

</div>
<!-- End Wrapper -->
<!-- Navigation -->
<!-- <div ng-include src="'view/theme-views/theme-footer.html'"></div> -->
		
<script>
$(document).ready(function(){
/*-----------------------------------------------------------------------------------*/
/*	POSTS GRID
/*-----------------------------------------------------------------------------------*/ 
    var $container = $('.blog-grid');

    var gutter = 30;
    var min_width = 345;
    $container.imagesLoaded( function(){
        $container.masonry({
            itemSelector : '.post',
            gutterWidth: gutter,
            isAnimated: true,
              columnWidth: function( containerWidth ) {
                var box_width = (((containerWidth - gutter)/2) | 0) ;

                if (box_width < min_width) {
                    box_width = (((containerWidth - gutter)/2) | 0);
                }

                if (box_width < min_width) {
                    box_width = containerWidth;
                }

                $('.post').width(box_width);

                return box_width;
              }
        });
        $container.css( 'visibility', 'visible' ).parent().removeClass( 'loading' );
    });
    
    jQuery(document).ready(function($) {	
    	$('.quick-flickr-item').addClass("frame");
    	$('.frame a').prepend('<span class="more"></span>');
    	});

   	jQuery(document).ready(function($) {
   	        $('.frame').mouseenter(function(e) {

   	            $(this).children('a').children('span').fadeIn(300);
   	        }).mouseleave(function(e) {

   	            $(this).children('a').children('span').fadeOut(200);
   	        });
   	    });	
    	
    	

});
</script>