<div style="text-align: center;margin-top: 20px;margin-left: 100px;margin-right: 20px;">
<a href="#newRecipie" class="btn btn-primary" style="margin-top: 0px;">Add Recipie</a>
</div>
<div style="text-align: center;margin-top: 100px;margin-left: 20px;margin-right: 20px;border:solid black 1px;">
<div style="float: right;margin-top: "><input type="text" placeholder="Search" ng-model="search"></div><h3>News List</h3>
<table class="table table-bordered">
<thead>
<tr>
<th>Sr. no.</th>
<th>Recipie Name</th>
<th>Description</th>
<th>Action</th>
</tr>
</thead>
<tbody>

</tbody>
</table>
</div>
