<!-- Begin Image Format -->
	<div class="post format-image box">  
		<div class="frame">
			<a href="view/theme-views/post.html">
				<img data-ng-src="/UseAngularInGrails/home/renderImage/{{n.id}}" alt="" />
			</a>
		</div>
		<h2 class="title"><a href="#moreinfo/{{n.id}}">{{n.heading}}</a></h2>
		<p>{{n.descripton}}</p>
		<div class="details">
			<span class="icon-image"><a href="#">September 26, 2012</a></span>
			<span class="likes"><a href="#" class="likeThis">44</a></span>
			<span class="comments"><a href="#">3</a></span>
		</div>
	</div>
<!-- End Image Format -->