<div class="wrapper">
<!-- Begin Blog Grid -->
<div class="blog-wrap">
	<!-- Begin Blog -->
	<div class="blog-grid">
		<!-- Begin Image Format -->
		<div class="post format-image box" ng-repeat="n in news">  
			<div class="frame">
				<a href="view/theme-views/post.html">
					<img data-ng-src="/UseAngularInGrails/home/renderImage/{{n.id}}" alt="" />
				</a>
			</div>
			<h2 class="title"><a href="#moreinfo/{{n.id}}">{{n.heading}}</a></h2>
			<p>{{n.descripton}}</p>
			<div class="details">
				<span class="icon-image"><a href="#">September 26, 2012</a></span>
				<span class="likes"><a href="#" class="likeThis">44</a></span>
				<span class="comments"><a href="#">3</a></span>
			</div>
		</div>
		<!-- End Image Format -->
		<!-- End Standard Format --> 					
 	</div>
	<!-- End Blog -->
</div>
<!-- End Blog Grid -->

<!-- Begin Page-navi -->
    <div id="navigation">
      <div class="nav-previous"><a href="#" ><span class="meta-nav-prev">&larr; Older posts</span></a></div>
      <!-- 
			<div class="nav-next"><a href="#" ><span class="meta-nav-next">Newer posts &rarr;</span></a></div>
			 --> 
    </div>
    <!-- End Page-navi --> 

</div>
<!-- End Wrapper -->
<!-- Navigation -->
<!-- <div ng-include src="'view/theme-views/theme-footer.html'"></div> -->
		
<script>
$(document).ready(function(){
/*-----------------------------------------------------------------------------------*/
/*	POSTS GRID
/*-----------------------------------------------------------------------------------*/ 
    var $container = $('.blog-grid');

    var gutter = 30;
    var min_width = 345;
    $container.imagesLoaded( function(){
        $container.masonry({
            itemSelector : '.post',
            gutterWidth: gutter,
            isAnimated: true,
              columnWidth: function( containerWidth ) {
                var box_width = (((containerWidth - gutter)/2) | 0) ;

                if (box_width < min_width) {
                    box_width = (((containerWidth - gutter)/2) | 0);
                }

                if (box_width < min_width) {
                    box_width = containerWidth;
                }

                $('.post').width(box_width);

                return box_width;
              }
        });
        $container.css( 'visibility', 'visible' ).parent().removeClass( 'loading' );
    });
    
    jQuery(document).ready(function($) {	
    	$('.quick-flickr-item').addClass("frame");
    	$('.frame a').prepend('<span class="more"></span>');
    	});

   	jQuery(document).ready(function($) {
   	        $('.frame').mouseenter(function(e) {

   	            $(this).children('a').children('span').fadeIn(300);
   	        }).mouseleave(function(e) {

   	            $(this).children('a').children('span').fadeOut(200);
   	        });
   	    });	
    	
    	

});
</script>